<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-alt"></i>
						<h2>Sol Bellomo</h2>
						<p>sbellomo@udesa.edu.ar<br>Estudiante de 2° año de Negocios Digitales<br>Buenos Aires, Argentina</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-alt"></i>
						<h2>Agustina Casiello</h2>
						<p>acasiello@udesa.edu.ar<br>Estudiante de 2° año de Negocios Digitales<br>Buenos Aires, Argentina</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-alt"></i>
						<h2>Pablo Pujol</h2>
						<p>ppujol@udesa.edu.ar<br>Estudiante de 2° año de Negocios Digitales<br>Buenos Aires, Argentina</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->