<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-7-col-md-6">
				<form action="" method="GET" class="search-form">
					<p>
						<label class="form-label" for="nombre">Modelo</label>
						<input class= "form-input" type="text" name="Nombre">
					</p>
					<p>
						<label class="form-label" for="nombre">Descripción</label>
						<input class= "form-input" type="text" name="Descripcion">
					</p>
					<p>
						<label class="form-label" for="nombre">Comentario</label>
						<input class= "form-input" type="text" name="Comentario">

					</p>
					<p>
						<label class="form-label" for="nombre">Imagen</label>
						<input class= "form-input" type="text" name="Imagen">

					</p>
					<p>
						<input class= "form-input" type="submit" value="Enviar">
					</p>
						
				</form>			
				<%- include('./partials/footer') %>
</body>
</html>