<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include("partials/header") %>
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Audi S3</h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="./images/autos/audi_a3.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						El diseño del Audi A3 Sportback es deportivo y agresivo en todas sus vistas. Es sobrio, elegante y goza de un fuerte componente tecnológico. Se trata del punto donde más cambia la cuarta generación del A3 con respecto de sus antecesores, destacando el nuevo puesto de conducción donde se adivina un cockpit más centrado en el conductor</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/users/martu.jpg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html">Martina Rosales</a> </strong>
								 ¡Tremendo auto! ¿Se puede comprar con bitcoins?</p>
							</div>
						</article>
						<article>
							<img src="/images/users/dopo.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Francisco Lopez</a> </strong>
									¡Es el auto que me compró papá!¡¡Me encanta!!</p>
							</div>
						</article>
						<article>
							<img src="/images/users/luli.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Lucía Castro Nevares</a> </strong>
									Considero que es un auto sobrevaluado, el precio no hace alusión a la calidad que se jactan de ofrecer.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->

</body>	
</html>