<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/gretaThunberg.jpg" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">Greta Thunberg 
						<a href="profile-edit.html">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="perfill">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/840_560.jpg" alt="Audi S3">
						</figure>
						<article class="product-box_data">
							<h2>Audi S3</h2>
							<p>Auto lujoso, de gran velocidad. El Audi S3 siempre ha recurrido a mecánicas sobrealimentadas y en esta última entrega el motor 2.0 TFSI entrega 300CV. La tracción total es de serie, 300CV serían demasiados en el eje delantero, pero se ofrecen dos cajas de cambios, una manual de seis relaciones y una automática S-tronic de doble embrague. </p>
							<p>Comentarios: 17</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/audi_a3.jpg" alt="Audi A3 Sportback">
						</figure>
						<article class="product-box_data">
							<h2>Audi A3 Sportback</h2>
							<p>El diseño del Audi A3 Sportback es deportivo y agresivo en todas sus vistas. Todos los motores emplean una configuración de tracción delantera, aunque opcionalmente (esta opción llegará más adelante), los motores más potentes pueden combinarse con un sistema de tracción total quattro. En el apartado de transmisiones existen dos únicas posibilidades: un cambio manual de 6 relaciones o un cambio automático S Tronic de doble embrague y 7 relaciones.</p>
							<p>Comentarios: 25</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/208.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Peugeot 208</h2>
							<p>Vehículo dinámico y bien equilibrado. Equipado para hacer de tu viaje toda una experiencia: posee el nuevo i_Cockpit, caja automática de seis velocidades, dispositivo all-in-one con pantalla táctil, techo de cielo panorámico. Además, incorpora tecnologías de punta para mejorar su rendimiento, usabilidad y seguridad, como adaptación automática al entorno luminoso, mantenimiento línea de carril y alerta de descanso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/A3SEDAN1.jpg" alt="Audi A3 Sedán">
						</figure>
						<article class="product-box_data">
							<h2>Audi A3 Sedán</h2>
							<p>Automóvil del segmento C producido por el fabricante alemán Audi desde 1996, abarcando 4 generaciones hasta el momento. Desde finales de verano de 2013 se ofrece también un A3 con carrocería sedán (o Limousine)​. Tiene 4.46 metros de largo, es decir casi 25 cm menos largo que un A4​.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/corolla.jfif" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Toyota Corolla 2020</h2>
							<p>Auto veloz, con motor potente. Facherito.</p>
							<p>Comentarios: 13</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/r8.jfif" alt="Audi R8 V10">
						</figure>
						<article class="product-box_data">
							<h2>Audi R8 V10</h2>
							<p>El Audi R8 se comercializa con un único propulsor, un V10 atmosférico de 5,2 litros, con lubricación por cárter seco e inyección directa. Se ofrece en dos versiones de potencia, 570 CV y 620 CV. ... La tracción total quattro es de serie en todos los Audi R8 y es una de las señas de identidad del superdeportivo.</p>
							<p>Comentarios: 70</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/bmw-x6.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>BMW X6</h2>
							<p>2017 BMW X6 3.0 XDRIVE35I AUTO 4WD</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/giulia.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Alfa Romeo Giulia</h2>
							<p>Motor V6 de origen Ferrari. Un propulsor que con un sistema biturbo desarrolla la tremenda potencia de 510 CV. Este propulsor le permite una aceleración de 0 a 100 km/h de sólo 3,9 segundos, y una velocidad máxima posiblemente superior a los 300 km/h.</p>
							<p>Comentarios: 19</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	
</html>