<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"></h2>
			<div class="col-7-col-md-6">
				<form action="/users/register" method="POST" class="search-form" enctype="multipart/form-data">
					<p>
						<label class="form-label" for="nombre">Nombre de usuario:</label>
						<input class= "form-input" type="text" name="nombre" required>
					</p>
					<p>
						<label class="form-label" for="mail">Email:</label>
						<input class= "form-input" type="email" name="mail" required>
					</p>
					<p>
						<label class="form-label" for="file">Foto de Perfil:</label>
						<input class= "form-input" type="file" name="foto" required>
					</p>
					<p>
						<label class="form-label" for="contra">Contraseña:</label>
						<input class= "form-input" type="password" name="contrasena" required>
					</p>
					<p>
						<label class="form-label" for="fecha">Fecha de nacimiento:</label>
						<input class= "form-input" type="date" name="fecha" required>
					</p>
					<p>
						<input class= "form-input" type="submit" value="Enviar">
					</p>
						
					<% if (errors) { %>
					 	<p style="color: red;"><%= errors%></p>
					<% } %>

				</form>
			</div>
		</div>
	</div>			
			<%- include('./partials/footer') %>
</body>

</html>